<% content_for :title, "tabela | #{@championship.name}" %>
<% content_for :website, @championship.webSite %>
<% content_for :championship_name, @championship.name %>

<main class="glb-grid grid-24" itemscope="" itemtype="http://schema.org/webpage">
    <div class="row medium-collapse large-uncollapse">
      <div class="column small-24 medium-centered medium-20 large-22 tabela-body">
        <div id="widget-classificacao" class="theme">
          <%
            max_phases = @season.phases.count
            #selecionar current_phase olhando a data
          %>
          <% @season.phases.sort_by {|p| p.order}.each { |phase| %>
            <div id="tabela-fases-<%= @season.id %>-<%= phase.order %>" style="<%= "display:none;" if phase.order != 1 %>">
              <nav class="tabela-navegacao tabela-navegacao-fases" data-fase-total="6">
                <span class="gui-icon gui-icon-arrow-left-highlight tabela-navegacao-setas tabela-navegacao-anterior <% if phase.order > 1 %>tabela-navegacao-setas-ativa<% end %>" onclick="abrirFase(this, '<%= @season.id%>-<%= phase.order %>', '<%= @season.id%>-<%= phase.order-1 %>')"></span>
                <span class="tabela-navegacao-seletor tabela-navegacao-seletor-ativo" data-fase="<%= phase.order+1 %>" data-gui-popin=".fases-popin"><%= phase.name %></span>
                <span class="gui-icon gui-icon-arrow-right-highlight tabela-navegacao-setas tabela-navegacao-proximo  <% if phase.order < max_phases %>tabela-navegacao-setas-ativa<% end %>" onclick="abrirFase(this, '<%= @season.id%>-<%= phase.order %>', '<%= @season.id%>-<%= phase.order+1 %>')"></span>
              </nav>
              <% if phase.order == 1 %>
                <%= render :partial => 'tabela_e_jogos_grupos', locals: {phase: phase} %>
              <% else %>
                <%= render :partial => 'jogos_playoffs', locals: {phase: phase} %>
              <% end %>
            </div>
          <% } %>
          <%= render :partial => 'artilharia_temporada' %>
        </div>
      </div>
    </div>
    <%= render :partial => 'noticias_temporada' %>
  </main>